In [15]:
# Import the packages
import pandas as pd

## Load and Check the Data

In [3]:
# load the data
file_path = r'C:\Users\Teresa - School\Documents\Projects\Rotman_Datathon_23\mma_mart.csv'

mma_mart = pd.read_csv(file_path)

# Preview the data
print(mma_mart)

        order_id  product_id                                   product_name  \
0              1       49302                               Bulgarian Yogurt
1              1       11109  Organic 4% Milk Fat Whole Milk Cottage Cheese
2              1       10246                          Organic Celery Hearts
3              1       49683                                 Cucumber Kirby
4              1       43633           Lightly Smoked Sardines in Olive Oil
...          ...         ...                                            ...
987254    100000       30169        Total 2% All Natural Plain Greek Yogurt
987255    100000       38734                           Wheat Sandwich Thins
987256    100000       36759         Unscented Long Lasting Stick Deodorant
987257    100000       37107                                   Ground Cumin
987258    100000       31506                         Extra Virgin Olive Oil

        aisle_id                 aisle  department_id     department
0            120                yogurt             16     dairy eggs
1            108  other creams cheeses             16     dairy eggs
2             83      fresh vegetables              4        produce
3             83      fresh vegetables              4        produce
4             95   canned meat seafood             15   canned goods
...          ...                   ...            ...            ...
987254       120                yogurt             16     dairy eggs
987255       128  tortillas flat bread              3         bakery
987256        80            deodorants             11  personal care
987257       104     spices seasonings             13         pantry
987258        19         oils vinegars             13         pantry

[987259 rows x 7 columns]

In [6]:
# Check for missing values

print(mma_mart.isnull().sum())

order_id         0
product_id       0
product_name     0
aisle_id         0
aisle            0
department_id    0
department       0
dtype: int64

In [41]:
# Check the data types

mma_mart.dtypes

order_id          int64
product_id        int64
product_name     object
aisle_id          int64
aisle            object
department_id     int64
department       object
dtype: object

# #  Count the Number of Values by Column

In [29]:
# Count the number of values by product_name
# Import the counter module 
from collections import Counter

product_name_values = mma_mart['product_name']
product_name_counts = Counter(product_name_values) 

# Count the number of values by aisle names
aisle_name_values = mma_mart['aisle']
aisle_name_counts = Counter(aisle_name_values)

# Count the number of values by department names 
department_name_values = mma_mart['department']
department_name_counts = Counter(department_name_values)

In [55]:
# Create dataframes for each list of values 
product_df = pd.DataFrame(list(product_name_counts.items()), columns=['Product Name', 'Product Name Count'])
aisle_df = pd.DataFrame(list(aisle_name_counts.items()), columns=['Aisle Name', 'Aisle Name Count'])
department_df = pd.DataFrame(list(department_name_counts.items()), columns=['Department Name', 'Department Count'])

# Preview the results 
print(product_df)

                                        Product Name  Product Name Count
0                                   Bulgarian Yogurt                   5
1      Organic 4% Milk Fat Whole Milk Cottage Cheese                 134
2                              Organic Celery Hearts                 775
3                                     Cucumber Kirby                2905
4               Lightly Smoked Sardines in Olive Oil                  14
...                                              ...                 ...
35065                           Special Cocoa Spread                   1
35066                     Small Batch 9 Year Bourbon                   1
35067                       Sliced Colby Jack Cheese                   1
35068                                Peppermint Bark                   1
35069              Healthy Trinity, 3 in 1, Capsules                   1

[35070 rows x 2 columns]

In [59]:
# Combine counts by putting them into a list
combined_dfs = [product_df, aisle_df, department_df]

# Preview results
print(combined_dfs)

[                                        Product Name  Product Name Count
0                                   Bulgarian Yogurt                   5
1      Organic 4% Milk Fat Whole Milk Cottage Cheese                 134
2                              Organic Celery Hearts                 775
3                                     Cucumber Kirby                2905
4               Lightly Smoked Sardines in Olive Oil                  14
...                                              ...                 ...
35065                           Special Cocoa Spread                   1
35066                     Small Batch 9 Year Bourbon                   1
35067                       Sliced Colby Jack Cheese                   1
35068                                Peppermint Bark                   1
35069              Healthy Trinity, 3 in 1, Capsules                   1

[35070 rows x 2 columns],                      Aisle Name  Aisle Name Count
0                        yogurt             43857
1          other creams cheeses              9374
2              fresh vegetables            103891
3           canned meat seafood              2131
4                  fresh fruits            110888
..                          ...               ...
129                   first aid               299
130                 white wines               916
131                eye ear care               278
132                   skin care               315
133  specialty wines champagnes               347

[134 rows x 2 columns],     Department Name  Department Count
0        dairy eggs            164468
1           produce            288775
2      canned goods             32486
3            pantry             56681
4      meat seafood             21588
5            bakery             35806
6     personal care             13773
7            snacks             88093
8         breakfast             21585
9         beverages             81923
10             deli             32008
11        household             22445
12    international              8248
13  dry goods pasta             26096
14           frozen             68202
15           babies             12872
16             pets              3157
17          alcohol              4580
18             bulk              1087
19          missing              2289
20            other              1097]

In [61]:
# Turn list into dataframe
combined_df = pd.concat(combined_dfs)

print(combined_df)

                                     Product Name  Product Name Count  \
0                                Bulgarian Yogurt                 5.0
1   Organic 4% Milk Fat Whole Milk Cottage Cheese               134.0
2                           Organic Celery Hearts               775.0
3                                  Cucumber Kirby              2905.0
4            Lightly Smoked Sardines in Olive Oil                14.0
..                                            ...                 ...
16                                            NaN                 NaN
17                                            NaN                 NaN
18                                            NaN                 NaN
19                                            NaN                 NaN
20                                            NaN                 NaN

   Aisle Name  Aisle Name Count Department Name  Department Count
0         NaN               NaN             NaN               NaN
1         NaN               NaN             NaN               NaN
2         NaN               NaN             NaN               NaN
3         NaN               NaN             NaN               NaN
4         NaN               NaN             NaN               NaN
..        ...               ...             ...               ...
16        NaN               NaN            pets            3157.0
17        NaN               NaN         alcohol            4580.0
18        NaN               NaN            bulk            1087.0
19        NaN               NaN         missing            2289.0
20        NaN               NaN           other            1097.0

[35225 rows x 6 columns]

In [62]:
# Write data to csv file 
combined_df.to_csv("combined_counts.csv", encoding='utf8', index=False)